/*==============================================================

Elements

File: SCSS Partial (assets/css/partials/_elements.scss)
Compiled to: assets/style.css
Created: 18/05/2013
Updated: 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Description: Misc HTML elements
Author: Juxprose
Author URI: http://juxprose.com

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/* 
  -------------------------------------------------------- */