/*==============================================================

Global

File: SCSS Partial (assets/css/partials/_global.scss)
Compiled to: assets/style.css
Created: 18/05/2013
Updated: 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Description: Site wide styles
Author: Juxprose
Author URI: http://juxprose.com

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/* 
  -------------------------------------------------------- */