/*==============================================================

Mixins

File: SCSS Partial (assets/css/partials/_mixins.scss)
Compiled to: assets/style.css
Created: 18/05/2013
Updated: 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Description: SASS mixins, including Bourbon mixins
Author: Juxprose
Author URI: http://juxprose.com

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/* 
  -------------------------------------------------------- */