/*==============================================================

Navigation

File: SCSS Partial (assets/css/partials/_navigation.scss)
Compiled to: assets/style.css
Created: 18/05/2013
Updated: 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Description: All navigation devices
Author: Juxprose
Author URI: http://juxprose.com

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/* 
  -------------------------------------------------------- */